<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pwc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/781a90aa23.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="sub__nav__pwc">
            <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" href="#">
                                <h6>
                                    <strong>
                                        <i class="fa-regular fa-circle-user">
                                        </i>
                                        Sign in
                                    </strong>
                                </h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" href="#">
                                <h6>
                                    <strong>
                                        | Register
                                    </strong>
                                </h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" href="#">
                                <h6>
                                    <strong>
                                        <i class="fa-solid fa-location-dot"></i>
                                        Global
                                    </strong>
                                </h6>
                            </a>

                        </li>
                    </ul>

                </div>


            </nav>
        </div>
        <div class="nav__pwc">
            <div class="container-Pwc pwc_logo">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action=""></a>
                </div>
            </div>
            <nav class=" navbar__pwc navbar navbar-expand-sm navbar-toggleable-sm  bg-white mb-3">

                <div class="d-flex justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Industries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Issues</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Careers</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Pwc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
