@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <img class="img-fluid" src="~/img/BannerPwc.png" alt="Alternate Text" />
</div>
<div class="container job__container">
    <div class="col-6">
        <img class="img-fluid" src="~/img/teaser-pwc-experienced-careers-role.jpg" alt="teaser-pwc-experienced-careers-role" />
    </div>
    <div class="col-6">
        <h1>
            PwC experienced career roles
        </h1>
        <p>
            Bring your experiences. Grow your skills. Make your mark. Our community of solvers
            is ready to apply your expertise in new and unexpected ways. You’ll be empowered by 
            a career that’s flexible, human-led, tech-powered and purpose-driven.
        </p>
        <a class="btn btn-pwc" href="#">Search PwC experienced careers roles</a>
    </div>
</div>
<div class="container job__container">
    <div class="col-6">
        <h1>
            PwC student and campus roles
        </h1>
        <p>
            It’s your career. You discover it. You make it happen. To get the best from it, you need
            the best opportunities. At PwC, you can apply your skills across diverse industries using
            the latest technological tools. Learn with purpose. Lead with heart. And make a positive
            impact on the world.
        </p>
        <a class="btn btn-pwc" href="#">Search PwC experienced careers roles</a>
    </div>
    <div class="col-6">
        <img class="img-fluid" src="~/img/teaser-pwc-student-careers-role.jpg" alt="teaser-pwc-experienced-careers-role" />
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
